[Desktop Entry]
Type=Application
Name=Vesper
Comment=Rust Screensaver Application
Exec=vesper
TryExec=vesper
Icon=vesper
Terminal=false
Categories=Utility;
StartupNotify=false
X-AppImage-Integrate=true
